<footer class="text-center">
    <div class="footer-content">
        <div class="social-media-footer">
            <a href="https://www.facebook.com/" target="_blank"><i class="manisa-facebook"></i></a> <!-- You Can Edit the link here -->
            <a href="https://www.twitter.com/" target="_blank"><i class="manisa-twitter"></i></a> <!-- You Can Edit the link here -->
            <a href="https://www.youtube.com/" target="_blank"><i class="manisa-youtube"></i></a> <!-- You Can Edit the link here -->
            <a href="https://www.imdb.com/name/nm8615033/?ref_=nv_sr_1" target="_blank"><i class="fa fa-imdb"
            style="font-size:24px; color: none"></i>
        </div>
        <a href="#">
            <span class="bg_logo"></span>
            <!-- You Can Edit the image on main.css file just search ( bg_logo ) -->
        </a>
        <div class="copyright">
            <p>© Copyright 2018. </p>
            <p>The Fighting Legends All Right Reserved <span></span></p>
        </div>
    </div>
</footer>
