<!-- meta Data -->
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- title -->
<title>Manisa - Personal One Page Template</title>

<!-- stylesheet -->
<link rel="stylesheet" href="./public/css/bootstrap.min.css"/>
<link rel="stylesheet" href="./public/css/main.css"/>
<link rel="stylesheet" href="./public/css/responsive.css"/>
<link rel="stylesheet" href="./public/css/panel-nav.css"/>

<link rel="stylesheet" href="./public/css/default-color.css"/>
<link rel="stylesheet" href="./public/css/manisa-icon.css"/>
<link rel="stylesheet" href="./public/css/font-awesome.min.css"/>
<link rel="stylesheet" href="./public/css/style.css">

<!-- Plugins -->
<link rel="stylesheet" href="./public/css/lightbox.min.css"/>
<link rel="stylesheet" href="./public/css/slick.css"/>

<!-- google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:300,300i,400" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
            