<section id="header" class="header" style="background:none;">
    <div class="overlay">
        <div class="youtube"> 
            <div class="title">
                <h1>The Fighting Legends</h1>
                <p class="type"></p>  <!-- You Can Edit the title on the custom.js File -->
                <a href="#portfolio" class="btn-manisa">Latest Film</a>
            </div>
            <div class="overlay-video">
                <div id="bg-video">
                    <video playsinline autoplay muted loop id="bgvid">
                         <source src="./public/images/Cucumber.mp4" type="video/mp4">
                     </video> 
                </div>
            </div>
        </div>
    </div>
    <div class="down">
        <a href="#about"><i class="fa fa-angle-double-down"></i></a>
    </div>
</section>
