<nav class="navbar fixed-top navbar-expand-lg navbar-light">
        
    <div class="container">
        <a href="#">
           <!-- <span class="bg_logo"></span> -->
            <!-- You Can Edit the image on main.css file just search ( bg_logo ) -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menu">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#header" data-value="header" class="active-nav">
                    <i class="manisa-home" hidden></i>
                        <span class="name-menu">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#latestfilms" data-value="portfolio">
                    <i class="manisa-picture" hidden></i>
                        <span class="name-menu">Films</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#about" data-value="team">
                    <i class="manisa-male-user" hidden></i>
                        <span class="name-menu">About Me</span>
                    </a>
                </li>
            
                <li class="nav-item">
                    <a href="#contact" data-value="contact">
                    <i class="manisa-envelope" hidden></i>
                        <span class="name-menu">Contact</span>
                    </a>
                </li>
                <li class="nav-item collapse-menu" hidden>
                    <span class="collapse-icon closed-menu"></span>
                    <span class="collapse-name">Collapse Menu</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="nav-toggle">
    <div class="menu">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
    </div>
</div>
