<section id="about" class="about">
    <div class="container">
        <div class="title text-center">
            <h2 class="text-uppercase">About Me</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg text-center">
                <div class="about-img"></div> 
                <!-- go to main.scss file to edit personal image -->
            </div>
            <div class="col-md-12 col-lg">
                <div class="tabs-about">
                    <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                        
                        <!-- Start About Me Title Tab -->
                        <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-toggle="tab" href="#aboutme" role="tab" aria-controls="about" aria-expanded="true">
                                <i class="manisa-male-user"></i>
                                <span>About me</span>
                            </a>
                        </li>
                        <!-- End About Me Title Tab -->
                        
                        <!-- ================ -->
                        
                        <!-- Start Profile Title Tab -->
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">
                                <i class="manisa-star"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <!-- End Profile Title Tab -->
                        
                        <!-- ================ -->
                        
                        <!-- Start Skills Title Tab -->
                        <li class="nav-item">
                            <a class="nav-link" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill">
                                <i class="manisa-magic-wand"></i>
                                <span>Skills</span>
                            </a>
                        </li>
                        <!-- End Skills Title Tab -->
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        
                        <!-- Start About Me Tab -->
                        <div class="tab-pane fade show active text-left" id="aboutme" role="tabpanel" aria-labelledby="about-tab">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labo ris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                            <img src="http://via.placeholder.com/200x50" class="img-fluid signature" alt="signature"/>
                            <!-- Here image Signature -->
                        </div>
                        <!-- End About Me Tab -->
                        
                        <!-- ================ -->
                        
                        <!-- Start Profile Tab -->
                        <div class="tab-pane fade text-left profile" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h6><span class="title-info">Name :</span><span>Britney Spears</span></h6> <!-- Edit Your Name  -->
                            <h6><span class="title-info">Nationality : </span><span>America's sweet heart</span></h6> <!-- Edit Your Nationality  -->
                            <h6><span class="title-info">Email : </span><span>britbrit@thefightinglegends.com</span></h6> <!-- Edit Your Email  -->
                            <h6><span class="title-info">Date of birth : </span><span>12-1-1999</span></h6> <!-- Edit Your Date Of Birth  -->
                            <h6><span class="title-info">Phone : </span><span>+123 456 7890</span></h6> <!-- Edit Your Phone -->
                            
                            <a href="#" class="btn-manisa">View my latest film</a>
                        </div>
                        <!-- End Profile Tab -->
                        
                        <!-- ================ -->
                        
                        <!-- Start Skills Tab -->
                        <div class="tab-pane fade skill" id="skill" role="tabpanel" aria-labelledby="skill-tab">
                            <div class="skills">
                                <p class="progress-text">Films</p> <!-- Here You Can Edit The Name Of Skill -->
                                <div class="progress">
                                    <div class="progress-bar" data-present="85%"></div> <!-- Here You Can Edit The Percentage -->
                                </div>
                                <p class="progress-text">Photoshop</p> <!-- Here You Can Edit The Name Of Skill -->
                                <div class="progress">
                                    <div class="progress-bar" data-present="70%"></div> <!-- Here You Can Edit The Percentage -->
                                </div>
                                <p class="progress-text">Javascript</p> <!-- Here You Can Edit The Name Of Skill -->
                                <div class="progress">
                                    <div class="progress-bar" data-present="60%"></div> <!-- Here You Can Edit The Percentage -->
                                </div>
                                <p class="progress-text">Acting</p> <!-- Here You Can Edit The Name Of Skill -->
                                <div class="progress">
                                    <div class="progress-bar" data-present="80%"></div> <!-- Here You Can Edit The Percentage -->
                                </div>
                            </div>
                            <a href="#" class="btn-manisa">Let's get in touch!</a>
                        </div>
                        <!-- End Skills Tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>