<section id="about" class="about">
    <div class="container">
        <div class="title text-center"><br>
            <h2 class="text-uppercase">About Me</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg text-center">
                
                <img src="/public/images/austin.jpeg" class="img-responsive img-circle margin" style="display:inline" width="400" height="300">
                <br>
                <!-- go to main.scss file to edit personal image -->
            </div>



            <div class="col-md-12 col-lg">
                <div class="tabs-about">
                    <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                        
                        <!-- Start About Me Title Tab -->
                         <!-- <li class="nav-item">
                            <a class="nav-link active" id="about-tab" data-toggle="tab" href="#aboutme" role="tab" aria-controls="about" aria-expanded="true">
                            </a>
                        </li> -->
                        <!-- End About Me Title Tab -->
                        
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        
                        <!-- Start About Me Tab -->
                        <div class="tab-pane fade show active text-left" id="aboutme" role="tabpanel" aria-labelledby="about-tab">
                            <p>Austin Hamilton was born on May 1st, 1994 in Kokomo, Indiana, in the USA, to Alvin Hamilton, a hog farmer, and to Shannon Scheibelhut. He is the director, known for The Witness, My Cucumber Inside the Fridge, and Letters. Austin is currently residing and working out of San Francisco, California, where he also attends film school at the Academy of Art University.</p>

                            <!--  <img src="/public/images/logo.png" class="img-fluid signature" alt="signature"/><br> <br> -->
                            <!-- Here image Signature -->
                            
                        </div>
                        <br> <br> <br>
                        <!-- End About Me Tab -->
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>
