<section id="contact" class="contact text-center">
    <div class="container">
        <div class="title">
            <h2 class="text-uppercase">Get In Touch</h2>
        </div>
        <div class="contact-content">
            <div class="row">
                <div class="col-lg col-sm-4">
                    <div class="email">
                        <i class="manisa-envelope"></i>
                        <span>austinhamtheman@gmail.com</span>
                    </div>
                </div>
                <div class="col-lg col-sm-4">
                    <div class="phone">
                        <i class="manisa-call-end"></i>
                        <span>+123 456 7899</span>
                    </div>
                </div>
                <div class="col-lg col-sm-4">
                    <div class="address">
                        <i class="manisa-twitter"></i>
                        <span>123 Street Name, City , 32008</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="contact-section">
            <div class="contact-map maps" id="overlay">
                
            </div>
        </div>
</section>
