<section id="portfolio" class="portfolio text-center">
    <div class="container">
        <div class="title">
            <h2 class="text-uppercase">Portfolio</h2>
        </div>
        <div class="shuffle">
            <ul class="list-unstyled">
                <li data-class="all" class="active item">All</li>
                <li data-class=".web" class="item">Web Design</li>
                <li data-class=".graphic" class="item">Graphic Design</li>
                <li data-class=".marketing" class="item">Marketing</li>
            </ul>
        </div>
        <div class="gallery">
            <div class="row">
                <!-- Start Image Number 1 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item marketing">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Marketing</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 1 -->
                <!-- ===================== -->
                <!-- Start Image Number 2 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item graphic">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Graphic Design</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 2 -->
                <!-- ===================== -->
                <!-- Start Image Number 3 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item web">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Web Design</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 3 -->
                <!-- ===================== -->
                <!-- Start Image Number 4 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item marketing">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Marketing</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 4 -->
                <!-- ===================== -->
                <!-- Start Image Number 5 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item web">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Web Design</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 5 -->
                <!-- ===================== -->
                <!-- Start Image Number 6 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item graphic">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Graphic Design</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 6 -->
                <!-- ===================== -->
                <!-- Start Image Number 7 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item marketing less">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Marketing</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 7 -->
                <!-- ===================== -->
                <!-- Start Image Number 8 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item graphic less">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Graphic Design</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 8 -->
                <!-- ===================== -->
                <!-- Start Image Number 9 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="item web less">
                        <div class="over">
                            <div class="info-img">
                                <h4 class="pattaya">Title Projet</h4>
                                <span>Web Design</span>
                            </div>
                            <a href="http://via.placeholder.com/4000x3500" data-lightbox="image-1" data-title="Project Title">
                                    <!-- ^ And Here -->
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div>
                        <img src="http://via.placeholder.com/4000x3500" alt="imgPort1" class="img-fluid">
                                <!-- Here ^ You Can Change image And Up -->
                    </div>
                </div>
                <!-- End Image Number 9 -->
            </div>
            <a class="show-more btn-manisa">Show More</a>
            <a class="show-less btn-manisa">Show Less</a>
        </div>
    </div>
</section>