<!DOCTYPE html>
<html lang="en">
    <head>
       
       <% include ../partials/head %>
 
   
    </head>
    <body>
        
        
        
        <!-- Start Social Media -->
        
        <div class="social-media d-none d-md-block">
          <a href="https://www.facebook.com/The-Fighting-Legends-1835826783143883/" target="_blank"><i class="manisa-facebook"></i></a> <!-- You Can Edit the link here -->
          <a href="https://twitter.com/legendsfighting" target="_blank"><i class="manisa-twitter"></i></a> <!-- You Can Edit the link here -->
          <a href="https://www.youtube.com/channel/UC8H_mj2FMopa6dNrWSRZ4TA?view_as=subscriber" target="_blank"><i class="manisa-youtube"></i></a> <!-- You Can Edit the link here -->
          <a href="https://www.imdb.com/name/nm8615033/?ref_=nv_sr_1" target="_blank"><i class="fa fa-imdb"
          style="font-size:24px; color: none"></i>

            <!-- <a href="https://www.imdb.com/name/nm8615033/" target="_blank"><i class="manisa-dribbble"></i></a> --> <!-- You Can Edit the link here -->

        </div>
        
        <!-- End Social Media -->
        
        <!-- Start Navbar -->

        <% include ../partials/nav %>
        
        <!-- End Navbar -->
 
        
        <!-- Start Header -->
        
        <% include ../partials/landing-page %>
        
        <!-- End Header -->
       
        
        <!-- Start Portfolio  -->
        
        <% include ../pages/films %>

        <!-- End Portfolio -->
        
        
        <!-- Start Tesim -->
        
        
        <!-- End Tesim -->
        
        
     

       <!-- Start About -->
       
       <% include ../pages/about %>

       <!-- End About -->
       
              
        
        <!-- Start Contact -->
        
        <% include ../pages/contact %>
        
        <!-- End Contact -->
        
        
        <!-- Start Footer -->
        
        <% include ../partials/footer %>
        
        <!-- End Footer -->
        
        <!-- Start SrollTop -->
        
        <div class="scrolltop">
            <i class="fa fa-angle-double-up"></i>
        </div>
        
        <!-- End SrollTop -->
        
        <!-- Start Loading -->
        
        <div class="loading-overlay">
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        
        <!-- End Loading -->
        
        <% include ../partials/scripts %>

    </body>
</html>
