<section class="testim">
    <div class="container">
        <div class="slider-arrows"></div>
    </div>
    <div class="testim-slider">
        <!-- Start Slider Number 1 -->
        <div class="slide1 myslide">
            <div class="container">
                <div class="quote-client text-center">
                    <i class="fa fa-quote-left"></i>
                    <div class="parg-quote">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit volupta</p>
                        <span class="name">Joshua Earle</span>
                    </div>
                    <i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>
        <!-- End Slider Number 1 -->
        <!-- ===================== -->
        <!-- Start Slider Number 2 -->
        <div class="slide2 myslide">
            <div class="container">
                <div class="quote-client text-center">
                    <i class="fa fa-quote-left"></i>
                    <div class="parg-quote">
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil</p>
                        <span class="name">John Doe</span>
                    </div>
                    <i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>
        <!-- End Slider Number 2 -->
        <!-- ===================== -->
        <!-- Start Slider Number 3 -->
        <div class="slide3 myslide">
            <div class="container">
                <div class="quote-client text-center">
                    <i class="fa fa-quote-left"></i>
                    <div class="parg-quote">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        <span class="name">Matthew Dix</span>
                    </div>
                    <i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>
        <!-- End Slider Number 3 -->
    </div>
</section>